web/WEB-INF/wsdl/tebakgambar-teslacode.rhcloud.com_80/TebakGambarWS/SoalService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.tebakgambar.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.tebakgambar.com/" name="SoalService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.tebakgambar.com/" schemaLocation="http://tebakgambar-teslacode.rhcloud.com:80/TebakGambarWS/SoalService?xsd=1" />
</xsd:schema>
</types>
<message name="getSoal">
<part name="parameters" element="tns:getSoal" />
</message>
<message name="getSoalResponse">
<part name="parameters" element="tns:getSoalResponse" />
</message>
<message name="checkJawaban">
<part name="parameters" element="tns:checkJawaban" />
</message>
<message name="checkJawabanResponse">
<part name="parameters" element="tns:checkJawabanResponse" />
</message>
<message name="getTemaActive">
<part name="parameters" element="tns:getTemaActive" />
</message>
<message name="getTemaActiveResponse">
<part name="parameters" element="tns:getTemaActiveResponse" />
</message>
<message name="getTema">
<part name="parameters" element="tns:getTema" />
</message>
<message name="getTemaResponse">
<part name="parameters" element="tns:getTemaResponse" />
</message>
<message name="getPotonganGambar">
<part name="parameters" element="tns:getPotonganGambar" />
</message>
<message name="getPotonganGambarResponse">
<part name="parameters" element="tns:getPotonganGambarResponse" />
</message>
<portType name="SoalService">
<operation name="getSoal">
<input wsam:Action="http://service.tebakgambar.com/SoalService/getSoalRequest" message="tns:getSoal" />
<output wsam:Action="http://service.tebakgambar.com/SoalService/getSoalResponse" message="tns:getSoalResponse" />
</operation>
<operation name="checkJawaban">
<input wsam:Action="http://service.tebakgambar.com/SoalService/checkJawabanRequest" message="tns:checkJawaban" />
<output wsam:Action="http://service.tebakgambar.com/SoalService/checkJawabanResponse" message="tns:checkJawabanResponse" />
</operation>
<operation name="getTemaActive">
<input wsam:Action="http://service.tebakgambar.com/SoalService/getTemaActiveRequest" message="tns:getTemaActive" />
<output wsam:Action="http://service.tebakgambar.com/SoalService/getTemaActiveResponse" message="tns:getTemaActiveResponse" />
</operation>
<operation name="getTema">
<input wsam:Action="http://service.tebakgambar.com/SoalService/getTemaRequest" message="tns:getTema" />
<output wsam:Action="http://service.tebakgambar.com/SoalService/getTemaResponse" message="tns:getTemaResponse" />
</operation>
<operation name="getPotonganGambar">
<input wsam:Action="http://service.tebakgambar.com/SoalService/getPotonganGambarRequest" message="tns:getPotonganGambar" />
<output wsam:Action="http://service.tebakgambar.com/SoalService/getPotonganGambarResponse" message="tns:getPotonganGambarResponse" />
</operation>
</portType>
<binding name="SoalServicePortBinding" type="tns:SoalService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getSoal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkJawaban">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getTemaActive">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getTema">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPotonganGambar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="SoalService">
<port name="SoalServicePort" binding="tns:SoalServicePortBinding">
<soap:address location="http://tebakgambar-teslacode.rhcloud.com:80/TebakGambarWS/SoalService" />
</port>
</service>
</definitions>