src/conf/xml-resources/web-service-references/SoalService/wsdl/tebakgambar-teslacode.rhcloud.com_80/TebakGambarWS/SoalService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://service.tebakgambar.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.tebakgambar.com/">

<xs:element name="checkJawaban" type="tns:checkJawaban" />

<xs:element name="checkJawabanResponse" type="tns:checkJawabanResponse" />

<xs:element name="getPotonganGambar" type="tns:getPotonganGambar" />

<xs:element name="getPotonganGambarResponse" type="tns:getPotonganGambarResponse" />

<xs:element name="getSoal" type="tns:getSoal" />

<xs:element name="getSoalResponse" type="tns:getSoalResponse" />

<xs:element name="getTema" type="tns:getTema" />

<xs:element name="getTemaActive" type="tns:getTemaActive" />

<xs:element name="getTemaActiveResponse" type="tns:getTemaActiveResponse" />

<xs:element name="getTemaResponse" type="tns:getTemaResponse" />

<xs:complexType name="getPotonganGambar">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="x" type="xs:int" />
<xs:element name="y" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPotonganGambarResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTema">
<xs:sequence>
<xs:element name="temaId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTemaResponse">
<xs:sequence>
<xs:element name="return" type="tns:rfTema" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="rfTema">
<xs:sequence>
<xs:element name="deleted" type="xs:boolean" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkJawaban">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="jawaban" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkJawabanResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSoal">
<xs:sequence>
<xs:element name="temaId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSoalResponse">
<xs:sequence>
<xs:element name="return" type="tns:soal" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="soal">
<xs:sequence>
<xs:element name="bytes" type="xs:base64Binary" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="index" type="xs:int" />
<xs:element name="resource" type="xs:anyURI" minOccurs="0" />
<xs:element name="rfTema" type="tns:rfTema" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTemaActive">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getTemaActiveResponse">
<xs:sequence>
<xs:element name="return" type="tns:rfTema" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>